*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #F4F8FB;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, h1, textarea, form input {
    padding: 5px;
}
button, form {
    margin: 5px;
}

button {
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}

.body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: fit-content;
    background-color: #FEFFFF;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 1px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#header {
    background-color: #518FE2;
    color: white;
}

#bold {
    font-weight: bold;
}

#btnSubmit {
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    background-color: #518FE2;
}

img {
    border: 5px solid white;
    transform: translate(-34px, 28px);
    box-shadow: 0px 1px 9px black;
}
